html{
    background-color: darkslategrey;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    border-bottom: solid orange 2px;
    padding: 20px 30px;
    box-shadow: 0 0 20px black;
}

header h1{
    font-size: xx-large;
    font-weight: bolder;
}

nav{
    position: relative;
    text-align: end;
    font-weight: bold;
    padding: 30px 0px 15px 0px;
}

nav p{
    border-radius: 5px;
    display: inline;
    padding: 10px 25px;
}

nav p:hover{
    cursor: pointer;
    background-color: cadetblue;
}

nav p:active{
    box-shadow: inset 0 0 10px black;
}

.highscore-list{
    position: absolute;
    right: 0;
    top: 0;
    border: solid orange;
    background-color: aliceblue;
    color: black;
    width: 15%;
    padding: 15px;
    box-shadow: 0 0 10px black;
}

.highscore-list li{
    padding-bottom: 15px;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.start-btn{
    width: 25%;
    padding: 20px 0;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.start-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 10px black;
    background-color: cadetblue;
}

.start-btn:active{
    box-shadow: inset 0 0 10px black;
}

.time-out-card, .score-card, .question-card{
    border: solid orange;
    border-radius: 20px;
    background-color: rgb(5, 61, 61);
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
}

.timer{
    padding: 10px;
    font-weight: bold;
    background-color: cadetblue;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    width: 25%;
    text-align: center;
}

.question{
    padding: 30px 0;
}

.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.option-btn{
    width: 45%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.option-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 10px black;
    background-color: cadetblue;
}

.option-btn:active{
    box-shadow: inset 0 0 10px black;
}

.time-out-card, .score-card{
    align-items: center;
    gap: 15px;
}

.score-card h2{
    font-size: larger;
}

.initial-box{
    width: 45%;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.time-out-btn, .submit-btn{
    width: 45%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.time-out-btn:hover, .submit-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 10px black;
    background-color: cadetblue;
}

.time-out-btn:active, .submit-btn:active{
    box-shadow: inset 0 0 10px black;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid orange 2px;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 20px black;
    background-color: darkslategray;
}

@media screen and (max-width: 1024px) {
    .highscore-list{
        width: 25%;
    }
    .start-btn, .question-card, .score-card, .time-out-card{
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    header{
        text-align: center;
    }
    nav{
        text-align: center;
    }
    .highscore-list{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .start-btn, .question-card, .score-card, .time-out-card{
        width: 90%;
    }
    .timer{
        width: 50%;
    }
}